# Python
backend/venv/
backend/__pycache__/
backend/.env
backend/uploads/
*.pyc

# React
frontend/node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

*.zip

# Environment variables
backend/.env
frontend/.env

# Optional
*.env
.env
.env.local